section.bento {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  & .container {
    width: 100%;
    height: 100%;
    padding: em(20);

    & .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: em(20);

      & .block {
        width: 100%;
        border-radius: em(20);

        &.top-block {
          height: calc(50vh - em(40));
          display: flex;
          gap: em(20);
          @include sm {
            flex-direction: column;
          }

          & .top-card {

            &-left {
              display: flex;
              gap: em(20);
              flex-direction: column;
              width: 60vw;
              
              @include sm{
                width: 100%;
              }

              & .content-block {
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & .top-content {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;

                  & .right-nav {
                    display: flex;
                    flex-direction: row;
                    gap: em(20);
                    a {
                      color: black;
                    }
                  }
                }

                & .center-content {
                  display: flex;
                  gap: em(20);
                  
                  & .img-wrapper {
                    width: em(100);
                    height: em(100);
                    & img {
                      filter: invert(0.9);
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                    }
                  }
                }
                h2{
                  font-weight: 900;
                  letter-spacing:em(-1.5);
                }
                h5{
                  opacity: 0.8;
                  letter-spacing:em(-0.4);
                  & span{
                    font-weight: 600;
                  }
                }
                h6{
                  letter-spacing:em(-0.8);
                }
                & .bottom-content {
                  display: flex;
                }
              } 
            }

            &-right { 
              width: 40vw;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              @include sm{
                width: 100%;
              }

              & .social-wrapper {
                width: 100%;
                max-width: fit-content;
                display: flex;
                flex-direction: column;

                & .social-title {
                  margin-bottom: em(20);
                }

                & .icon-wrapper {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  
                  & .social-icon {
                    width: em(50);
                    height: em(50);
  
                    & img{
                      width: 100%;
                    }
                  } 
                }

              }

              & .input-wrapper {
                width: 100%;
                height: em(50);
                display: flex;
                // background-color: red;
                flex-direction: row;
                border-radius: em(10);
                border: em(1) solid $black;

                & input {
                  all: unset;
                  width: 80%;
                  height: 100%;
                  padding-left: em(20);
                }
                & button {
                  width: 20%;
                  height: 100%;
                  border: none;
                  cursor: pointer;
                  border-radius: em(10);
                  border-left: em(1) solid $black;
                  background-color: #c5c5c5;

                }
              }
            }
          }
        }
  
        &.middle-block {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 4vh;
          padding: em(10);
          @include md {
            height: 5vh;
          }
          
          & .carouselWrapper {
            width: 100%;

            & .carousel-text {
              height: 100%;
              margin: 0 em(20);
              display: inline-block;
  
              & p {
                letter-spacing: em(2);
              }
  
              & .box-space {
                width: em(10);
                height: em(10);
                background-color: #0A0A0A;
                display: inline-block;
              }
            }
          }
        }
  
        &.bottom-block {
          width: 100%;
          height: calc(50vh - em(40));
          display: flex;
          flex-direction: row;
          gap: em(20);
          @include sm {
            flex-direction: column;
          }

          & .bottom-card {
            border-radius: em(20);
            padding: em(20);
            box-shadow: 1px 7px 12px 0px rgba(0,0,0,0.19);
            -webkit-box-shadow: 1px 7px 12px 0px rgba(0,0,0,0.19);
            -moz-box-shadow: 1px 7px 12px 0px rgba(0,0,0,0.19);

            &-left {
              width: 38vw;
              padding: 0;
              overflow: hidden;
              position: relative;
              @include sm{
                width: 100%;
              }
              & > .carouselWrapper {
                  & .featuredCard {
                      display: flex;
                      flex-direction: column;
                      & > .imgWrapper {
                          & > img {
                              width: 100%;
                              min-height: 51vh;
                              object-fit: cover;
                          }
                      }
                      & > .descWrapper {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          flex-direction: column;
                          gap: em(9);
                          @include sm {
                              width: 100%;
                          }
                      }
                  }
              }
              
            } 
            &-center {
              height: 100%;
              width: calc((40vh - em(40)));
              display: flex;
              flex-direction: column;
              gap: em(20);

              @include sm{
                width: 100%;
              }

              & .skills-card {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;

                & .skills-content {
                  display: flex;
                  flex-wrap: wrap;
                  gap: em(10);
                }
              }

            } 
            &-right { 
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              flex: 1;

              h3 {
                position: fixed;
                font-weight: 600;
              }

              & .graphWrapper {
                width: 100%;
                height: 100%;
                padding: em(20);
                border-radius: em(20);

                & img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
}