@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
* ::-webkit-scrollbar {
  display: none;
}

*[animated] {
  opacity: 0;
}

.carouselNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 45%;
  padding: 0 1.25em;
}
@media (max-width: 400px) {
  .carouselNav {
    display: none;
  }
}
.carouselNav > button {
  position: relative;
  cursor: none;
  width: 3.125em;
  height: 3.125em;
  border-radius: 100%;
  border: 1px solid #EAE1D6;
  background-color: #EAE1D6;
}
.carouselNav > button::after {
  background: url("/assets/images/icons/arrow-left-black.svg") center center/50% no-repeat;
  content: "";
  position: absolute;
  width: 1.5625em;
  height: 1.5625em;
}
.carouselNav > button.btnPrevCarousel {
  box-shadow: 1px 7px 12px 0px rgba(0, 0, 0, 0.19);
}
.carouselNav > button.btnPrevCarousel::after {
  left: 20%;
  top: 25%;
}
.carouselNav > button.btnNextCarousel {
  transform: rotate(180deg);
  transform-origin: center center;
  box-shadow: -1px -7px 12px 0px rgba(0, 0, 0, 0.19);
}
.carouselNav > button.btnNextCarousel::after {
  left: 20%;
  top: 25%;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("TrueType");
}
h1 {
  font-family: "Space Mono", monospace;
  font-size: 4.5em;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.00125em;
}
@media (max-width: 400px) {
  h1 {
    font-family: "Space Mono", monospace;
    font-size: 3.5em;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.00125em;
  }
}

h2 {
  font-family: "Space Mono", monospace;
  font-size: 3.5em;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.00125em;
}
@media (max-width: 400px) {
  h2 {
    font-family: "Space Mono", monospace;
    font-size: 3em;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.00125em;
  }
}

h3 {
  font-family: "Space Mono", monospace;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.00125em;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: 2em;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.00125em;
}

h5 {
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.000625em;
}

h6 {
  font-family: "Space Mono", monospace;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.000625em;
}

p {
  font-family: "Space Mono", monospace;
  font-size: 1em;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: calc(normal / 16)em;
}

span {
  font-weight: 500;
  font-family: "Space Mono", monospace;
  font-size: 0.875em;
  line-height: 1.875em;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 2.5em;
  padding: 1.25em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: translateZ(0);
  background-color: #FCFCFC;
}

.ink {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background-color: transparent;
  pointer-events: none;
  transition: transform 0.6s, opacity 0.4s;
}

.ink.animate {
  animation: ripple-animation 0.6s;
}

@keyframes ripple-animation {
  to {
    transform: scale(3);
    opacity: 0;
  }
}
.active-tags {
  width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  gap: 0.625em;
}
.active-tags .circle {
  width: 0.75em;
  height: 0.75em;
  border-radius: 100%;
  background: rgba(98, 189, 25, 0.65);
  box-shadow: 0 0 0 rgba(98, 189, 25, 0.65);
  animation: pulsing 1.5s infinite;
  transition: all 0.2s;
}

@keyframes pulsing {
  from {
    box-shadow: 0 0 0 0 rgba(98, 189, 25, 0.65);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(98, 189, 25, 0);
  }
  to {
    box-shadow: 0 0 0 0 rgba(98, 189, 25, 0);
  }
}
.tags {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625em;
  padding: 0.375em 0.75em;
  background-color: #EEEFF2;
  color: #0A0A0A;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px inset, rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  display: none;
}
.custom-cursor img {
  width: 2.875em;
  height: 2.875em;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}
header .container {
  width: 100%;
  height: 100%;
  max-width: 103.125em;
  padding: 1.25em 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .wrapper {
  width: 100%;
  padding: 0.625em 1.875em;
  border-radius: 2.5em;
  background-color: #EEEFF2;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.062745098);
}
header .container .wrapper nav {
  height: 3.125em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .wrapper nav .leftNav img {
  width: 1.875em;
  height: 1.875em;
  object-fit: contain;
  filter: invert(1);
}
header .container .wrapper nav .rightNav {
  display: flex;
  gap: 1.875em;
}
header .container .wrapper nav .rightNav p {
  font-weight: 400;
}

section.banner {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: 1.125em;
  margin-bottom: 1.25em;
}
section.banner .container {
  width: 100%;
  height: 100%;
  padding: 0 2.5em;
  display: flex;
  justify-content: center;
}
section.banner .container .wrapper {
  width: 100%;
  max-width: 100em;
  height: 100%;
}
section.banner .container .wrapper .block {
  width: 100%;
  border-radius: 1.25em;
}
section.banner .container .wrapper .block.top-block {
  display: flex;
  gap: 1.25em;
}
@media (max-width: 900px) {
  section.banner .container .wrapper .block.top-block {
    flex-direction: column;
  }
}
section.banner .container .wrapper .block.top-block .card-left {
  width: 100%;
  display: flex;
  gap: 1.25em;
  flex-direction: row;
  height: 50em;
}
@media (max-width: 900px) {
  section.banner .container .wrapper .block.top-block .card-left {
    height: 37.5em;
    width: 100%;
  }
}
section.banner .container .wrapper .block.top-block .card-left .content-block {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 900px) {
  section.banner .container .wrapper .block.top-block .card-left .content-block {
    width: 40%;
  }
}
section.banner .container .wrapper .block.top-block .card-left .content-block h1 {
  font-weight: 900;
  letter-spacing: -0.09375em;
}
@media (max-width: 900px) {
  section.banner .container .wrapper .block.top-block .card-left .content-block h1 {
    font-size: 3.75em;
  }
}
section.banner .container .wrapper .block.top-block .card-left .content-block h5 {
  opacity: 0.8;
  letter-spacing: -0.025em;
  margin-bottom: 1.25em;
}
section.banner .container .wrapper .block.top-block .card-left .content-block h5 span {
  font-weight: 600;
}
section.banner .container .wrapper .block.top-block .card-left .content-block h6 {
  letter-spacing: -0.05em;
}
section.banner .container .wrapper .block.top-block .card-left .content-block .bottom-content {
  display: flex;
}
section.banner .container .wrapper .block.top-block .card-left .right-block {
  width: 50%;
  position: relative;
}
@media (max-width: 900px) {
  section.banner .container .wrapper .block.top-block .card-left .right-block {
    width: 60%;
  }
}
section.banner .container .wrapper .block.top-block .card-left .right-block img {
  position: absolute;
  bottom: -1.25em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eye-container {
  position: absolute;
  width: 12.5em;
  background-color: red;
  top: 45%;
  left: 34%;
}
@media (max-width: 900px) {
  .eye-container {
    display: none;
  }
}
.eye-container .eye-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.eye-container .eye-wrapper .eye {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  height: 3.75em;
  width: 3.75em;
  background: #CCC;
}
.eye-container .eye-wrapper .eye.left-eye {
  top: 0.375em;
  left: 1.25em;
}
.eye-container .eye-wrapper .eye.right-eye {
  top: 0.25em;
  right: -1.25em;
}
.eye-container .eye-wrapper .eye::after {
  position: absolute;
  bottom: 1.0625em;
  right: 0.625em;
  width: 2.125em;
  height: 2.125em;
  background: #331E21;
  border-radius: 50%;
  content: " ";
}

section.offers {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5.625em;
  margin-bottom: 1.25em;
}
section.offers .carouselWrapper {
  width: 100%;
}
section.offers .carouselWrapper .carousel-text {
  height: 100%;
  margin: 0 1.25em;
  display: inline-block;
}
section.offers .carouselWrapper .carousel-text p {
  color: #EEEEEE;
  text-transform: uppercase;
  font-size: 4.375em;
  font-weight: 700;
  letter-spacing: 0.125em;
  white-space: nowrap;
}
section.offers .carouselWrapper .carousel-text .box-space {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.theatreSlider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section.theatreSlider > .container {
  width: 100%;
  height: 100%;
  display: flex;
}
section.theatreSlider > .container > .wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  padding: 5em 0 0 0;
  flex-direction: column;
}
@media (max-width: 400px) {
  section.theatreSlider > .container > .wrapper {
    padding: 4em 1.25em;
  }
}
section.theatreSlider > .container > .wrapper > .carouselContainer {
  width: 100%;
  height: 100%;
  margin-bottom: 2.5em;
}
section.theatreSlider > .container > .wrapper > .carouselContainer > .carouselWrapper .theatreCard {
  display: flex;
  flex-direction: column;
  margin: 0 1.25em;
  margin-bottom: 2.5em;
}
section.theatreSlider > .container > .wrapper > .carouselContainer > .carouselWrapper .theatreCard > .imgWrapper {
  width: 43.75em;
  height: 25em;
  margin-bottom: 1.5em;
}
@media (max-width: 400px) {
  section.theatreSlider > .container > .wrapper > .carouselContainer > .carouselWrapper .theatreCard > .imgWrapper {
    width: 20.75em;
    height: 20.75em;
  }
}
section.theatreSlider > .container > .wrapper > .carouselContainer > .carouselWrapper .theatreCard > .imgWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.theatreSlider > .container > .wrapper > .carouselContainer > .carouselWrapper .theatreCard > .descWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5625em;
}
@media (max-width: 400px) {
  section.theatreSlider > .container > .wrapper > .carouselContainer > .carouselWrapper .theatreCard > .descWrapper {
    width: 100%;
  }
}
section.theatreSlider > .container > .wrapper .bottomColumn {
  border-top: 0.1875em solid #0A0A0A;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.25em;
}
section.theatreSlider > .container > .wrapper .bottomColumn h1 {
  font-weight: 700;
  font-size: 9.375em;
}

* {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  color: #0A0A0A;
}
@media (max-width: 1920px) {
  * {
    font-size: 0.8333333333vw;
  }
}
@media (max-width: 900px) {
  * {
    font-size: 1.8333333333vw;
  }
}
@media (max-width: 400px) {
  * {
    font-size: 4.3vw;
  }
}

body {
  background-color: #0A0A0A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
